<h1> Details</h1>
<ul>
  <li> First Name : <%= @details[0][:name].titlecase %></li>
  <li> Designation: <%= @details[0][:designation].titlecase %> </li>
  <li> Age : <%= @details[0][:age] %> </li>
  <li> Date_of_joining:<%= @details[0][:date_of_joining] %></li>
</ul>
